<%- include('partials/head'); -%>

    <body>
        <header class="pb-4">
            <%- include('partials/nav_bar'); -%>
        </header>
        <div class="container">
            <h1>Perguntas e Respostas</h1>
        </div>
        <%- include('partials/footer'); -%>